<footer>

    <div class="container-footer-all">

        <div class="container-body">

            <div class="colum1">
                <h1>Mas informacion de la compañia</h1>

                <p>Nuestro principal objetivo es, a través de una pagina web, hacer posíble a Argentínos de todo el
                    país, acceder de una manera sencilla a productos APPLE.
                    Marca que no tiene tiendas de ventas oficiales en nuestro país. Compra en dolares o pesos con una
                    mínima tasa de interes, y en cuotas.
                    <!-- "Nunca fue tan facil conseguir un iphone como hasta ahora". -->
                    Orientado a adultos jovenes, interesados en la ultima tecnología de Celulares de la compañia Apple,
                    que buscan la posibilidad de acceder a los mismos de una manera más facil, dinámica y accesible.
                    Incluimos venta de cargadores y auriculares.
                </p>
                <div class="footer-logo-box">
                    <img src="/images/logo_white_large.png" class="logo-footer">
                </div>
            </div>

            <div class="colum2">

                <h1>Redes Sociales</h1>

                <div class="row">
                    <img src="icon/facebook.png">
                    <label>Seguinos en Facebook</label>
                </div>
                <div class="row">
                    <img src="icon/twitter.png">
                    <label>Seguinos en Twitter</label>
                </div>
                <div class="row">
                    <img src="icon/instagram.png">
                    <label>Seguinos en Instagram</label>
                </div>


            </div>

            <div class="colum3">

                <h1>Informacion Contactos</h1>

                <div class="row2">
                    <img src="icon/house.png">
                    <label>Argentina, Buenos Aires, Chascomús</label>
                </div>

                <div class="row2">
                    <img src="icon/smartphone.png">
                    <label>+54 11 59785017</label>
                </div>

                <div class="row2">
                    <img src="icon/contact.png">
                    <label>iShopStore@gmail.com</label>
                </div>

            </div>

        </div>

    </div>

    <div class="container-footer">
        <div class="footer">
            <div class="copyright">
                © 2021 Todos los Derechos Reservados | <a href="">iShop</a>
            </div>

            <div class="information">
                <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y
                    Condiciones</a>
            </div>
        </div>

    </div>

</footer>