<header class="main-header">
            
    <div class="main-header-top">
        <img src="/images/logo_white_large.png" alt="LogoApple" class="logo">
    </div>
    <a href="#" class="hamburger-button">
        <i class="fas fa-bars"></i>
    </a>
    
    <nav class="main-navbar" id="menu">
    
        <div class="links-navbar">
            <img src="/images/logo_white_large.png" alt="LogoApple" class="logo">
            <a href="#" class="iconHome"><i class="fas fa-home"></i></a>
            
            <ul class="left-navbar">
                <li><a href="#">Nosotros </a></li>
                <li><a href="#">Ayuda </a></li>
                <li class="menu-des"><a href="#">Productos <i class="fas fa-angle-down iconAngle"></i></a>
                    <ul class="submenu">
                        <li><a href="/iphones" class="submenu-A">iPhones</a></li>
                        <li><a href="/auriculares" class="submenu-A">Auriculares</a></li>
                        <li><a href="/fundas" class="submenu-A">Fundas</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
        
        <div class="buscador">
            
            <a href="/login"><i class="fas fa-user"></i></a>
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="/carrito"><i class="fas fa-shopping-basket"></i></a>
            
        </div>
        

    </nav>

</header>