<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
    <link rel="stylesheet" href="/css/Carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>

  <body>

    <header class="main-header">

        <div class="main-header-top">
            <img src="/images/logo-apple.png" alt="LogoApple" class="logo">

            <h2 class="h2-header">
                <i class="fas fa-user"></i>
                <a href="#">Mi cuenta</a>
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">

            <div class="links-navbar">

                <a href="#" class="iconHome"><i class="fas fa-home"></i></a>

                <ul class="left-navbar">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Productos</a></li>
                </ul>
                
            </div>
            
            <div class="buscador">

                <form class="d-flex my-2-lg-0">
                    <input class="form-control me-2" type="busqueda" placeholder="Buscar productos" aria-label="busqueda">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>

                <a href="#"><i class="fas fa-shopping-basket"></i></a>

            </div>
            
    
        </nav>
 
</header>
    <main>
       <h3 class="Titulo">Tu carrito de compras</h3> 

        <div class="InfoProducto"> 
            <img src="/images/logo-apple.png" alt="Imagen del Producto" class="ImagenProducto">
            <p class="precio"> Precio: $$$$$$$</p>
            <input type="number"min="0" class="cantidad-button">
            <button> <i class="fas fa-trash-alt"></i> </button>
        </div>  
    </main>

  </body>

</html>