<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
    <link rel="stylesheet" href="/css/Carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>

  <body>

    <header class="main-header">

        <div class="main-header-top">
            <img src="/images/logo-apple.png" alt="LogoApple" class="logo">

            <h2 class="h2-header">
                <i class="fas fa-user"></i>
                <a href="#">Mi cuenta</a>
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">

            <div class="links-navbar">

                <a href="#" class="iconHome"><i class="fas fa-home"></i></a>

                <ul class="left-navbar">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Productos</a></li>
                </ul>
                
            </div>
            
            <div class="buscador">

                <form class="d-flex my-2-lg-0">
                    <input class="form-control me-2" type="busqueda" placeholder="Buscar productos" aria-label="busqueda">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>

                <a href="#"><i class="fas fa-shopping-basket"></i></a>

            </div>
            
    
        </nav>
 
</header>

   <main class="main">

    <h1 class="titulo">Carrito de compras</h1>

    <div class="infoCasillas">
    
        <div>

            <ul class="listaPrincipal">
               <li class="producto">Producto</li>
               <li class="precio">Precio</li>
               <li class="cantidad">Cantidad</li>
               <li class="subtotal">Subtotal</li>
            </ul>

        </div>

    </div>

        <div class="UnProductoInventado">
            <ul class="producto-carrito">
                <li class="producto">Producto</li>
                <li class="precio">$...Ars</li>
                <li><input type="number"min="0" class="cantidad-button"></li>
                <li class="subtotal">$...Ars</li>
            </ul>

        </div>

        <div class="UnProductoInventado">
            <ul class="producto-carrito">
                <li class="producto">Producto</li>
                <li class="precio">$...Ars</li>
                <li><input type="number"min="0" class="cantidad-button"></li>
                <li class="subtotal">$...Ars</li>
            </ul>

        </div>

        <div class="UnProductoInventado">
            <ul class="producto-carrito">
                <li class="producto">Producto</li>
                <li class="precio">$...Ars</li>
                <li><input type="number"min="0" class="cantidad-button"></li>
                <li class="subtotal">$...Ars</li>
            </ul>

        </div>

        <div class="UnProductoInventado">
            <ul class="producto-carrito">
                <li class="producto">Producto</li>
                <li class="precio">$...Ars</li>
                <li><input type="number"min="0" class="cantidad-button"></li>
                <li class="subtotal">$...Ars</li>
            </ul>

        </div>

    <div class="total">
        <p>Total:$</p>
    </div>


    <div class="botones">

    <button class="continuar-compra" >< Continuar comprando </button> 
    <button class="pagar" >Pagar > </button>
    
    </div>


   </main>

  </body>

</html>