<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu carrito</title>
    <link rel="stylesheet" href="/css/Carrito.css">   
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');</style>
</head>

<body>

    <!-- Header -->
    <%- include('./partials/header') -%>


    <!--Main-->
    <main>
        <nav class="Seccion1">
            <h3 class="Titulo">Tu carrito Ishop</h3> 
            <a href="/home" class="fas fa-angle-double-left" ></a>
        </nav>

        <nav class="Seccion2">
            <div class="Producto">
                <img src="/images/auricularesAirPods.png" alt="Imagen del Producto" class="ImagenProducto">
                <p class="precio"> <a class="NombreDeProducto">Esto es un nombre de producto</a> <br> Precio: $$$$$$$
                </p>
    
                <input type="number" min="0" class="cantidad-button">
                <button class="boton-quitar"> <i class="fas fa-trash-alt"></i> </button>
            </div>
            <br>
            <div class="Producto">
                <img src="/images/xrRojo.jpg" alt="Imagen del Producto" class="ImagenProducto">
                <p class="precio"><a class="NombreDeProducto">Esto es un nombre de producto</a> <br> Precio: $$$$$$$</p>
                <input type="number" min="0" class="cantidad-button">
                <button class="boton-quitar"> <i class="fas fa-trash-alt"></i> </button>
            </div>
            <br>
            <div class="Producto">
                <img src="/images/funda1.png" alt="Imagen del Producto" class="ImagenProducto">
                <p class="precio"><a class="NombreDeProducto">Esto es un nombre de producto</a> <br> Precio: $$$$$$$</p>
                <input type="number" min="0" class="cantidad-button">
                <button class="boton-quitar"> <i class="fas fa-trash-alt"></i> </button>
            </div>
        </nav>

        <nav class="Seccion3">
            <div class="elegir-Pago">
            <div>
                    <input type="radio" name="radio-input" value="Cuotas" id="Cuotas" checked class="boton-cuotas">
                    <label for="Cuotas">Cuotas</label>
                    <input type="radio" name="radio-input" value="Contado" id="Contado" class="boton-Contado">
                    <label for="Contado">Al Contado</label>
            </div>
        
                <div class="Texto">
                    <p> Pagando al contado tenes hasta un </p>
                    <p class="descuento">15% de descuento!</p>
                    <p class="total">Total:$$$</p>
                </div>
            </div>
        </nav>

    <nav class="botones">
        <div class="padreBotonP">
            <button class="boton-Pagar">Pagar</button>
        </div>

        <div class="padreBotonV">
                <button class="boton-vaciar">Vaciar </button>
        </div>
    </nav>

    </main>

    <!-- Footer -->
    <%- include('./partials/footer') -%>

</body>

</html>