<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <title>¡Bienvenid@ a iShop!</title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/header') -%>


        <!-- Body -->
        <div class="profileCards">
            <div class="card">
                <img src="images/mauricio.png" alt="Mauricio Caggiano">
                <h1>Mauricio Caggiano</h1>
                <p class="title">Full Stack Developer Junior</p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/mauricio-caggiano-151061201"><i
                            class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <div class="card">
                <img src="images/franco.jpeg" alt="Franco Mazuryk">
                <h1>Franco Mazuryk</h1>
                <p class="title">Full Stack Developer Junior</p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/franco-mazuryk-139086197/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>

            <div class="card">
                <img src="images/lucas.jpg" alt="Lucas Dello Russo">
                <h1>Lucas Dello Russo</h1>
                <p class="title">Full Stack Developer Junior</p>
                <p class="title">IT Technician</p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/lucas-dello-russo-bba686225/"><i
                            class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <%- include('./partials/footer') -%>

</body>

</html>