<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML </title>
    <link rel="stylesheet" href="/css/detalle.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    <header class="main-header">

        <div class="main-header-top">
            <img src="/images/logo-apple.png" alt="LogoApple" class="logo">

            <h2 class="h2-header">
                <i class="fas fa-user"></i>
                <a href="#">Mi cuenta</a>
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">

            <div class="links-navbar">

                <a href="#" class="iconHome"><i class="fas fa-home"></i></a>

                <ul class="left-navbar">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Productos</a></li>
                </ul>

            </div>

            <div class="buscador">

                <form class="d-flex my-2-lg-0">
                    <input class="form-control me-2" type="busqueda" placeholder="Buscar productos"
                        aria-label="busqueda">
                    <button class="btn btn-outline-light" type="submit">Buscar</button>
                </form>

                <a href="#"><i class="fas fa-shopping-basket"></i></a>

            </div>


        </nav>

    </header>
    <article div class="detalle-producto">
        <div div class="title-modelo">
            <h1> IPHONE XR </h1>
        </div>
        <img class="imagen-principal-detalle" src="/images/xr.jpg" alt="iphone xr">
        <p class="Especificaciones-breves">
            Alto: 150.9 mm Memoria RAM: 3gb
            <br>
            Peso: 194 g Almacenamiento: 128GB
            <br>
            Grosor: 8.3mm Color: BLACK
            <br>

        </p>

        <p class="Ficha-tecnica">
        <H2>FICHA TÉCNICA DEL PRODUCTO</H2>
        Pantalla: 6.1", 828 x 1792 pixels
        <br>
        Procesador: Apple A12 Bionic
        <br>
        RAM: 3GB
        <br>
        Almacenamiento: 64GB/128GB/256GB
        <br>
        Expansión: sin microSD
        <br>
        Cámara: 12 MP
        <br>
        Batería: 2942 mAh
        <br>
        OS: iOS 14
        <br>
        Perfil: 8.3 mm
        <br>
        Peso: 194 g
        </class>
        <p class="informacion-detallada">
        <H2> INFROMACIÓN GENERAL DEL PRODUCTO</H2>
        <h4> Bateria </h4>
        Tiempo de conversación: Hasta 25 horas
        Uso de Internet: Hasta 15 horas
        Reproducción de video:Hasta 16 horas
        Reproducción de audio: Hasta 65 horas
        <h4 Reproducción de bateria>
            Formatos de video compatibles: HEVC, H.264, MPEG‑4 Parte 2 y Motion JPEG
            Compatible con contenido Dolby Vision, HDR10 y HLG
        </h4>
        <h3> Camara</h3>
        Sistema de cámara única de 12 MP (gran angular)
        Apertura de ƒ/1.8
        Zoom digital de hasta 5x
        Modo Retrato con bokeh avanzado y Control de Profundidad
        Iluminación de Retrato con tres efectos (Luz Natural, Luz de Estudio Fotográfico, Luz al Contorno)
        Estabilización óptica de imagen
        Lente de seis elementos
        Flash LED True Tone con sincronización lenta
        Fotos panorámicas (hasta 63 MP)
        Autoenfoque con Focus Pixels
        HDR Inteligente para fotos
        Amplia gama de colores en fotos y Live Photos
        Corrección avanzada de ojos rojos
        Estabilización automática de imagen
        Modo ráfaga
        Geoetiquetado de fotos
        Captura de imagen en formatos HEIF y JPEG
        </p>
        <button class="buttom-a" type="button"> AGREGAR AL CARRITO</button>
        <div class="precio">
            <h3> PRECIO 700USD</h3>
            <H4>AL CONTADO, 15%OF</H4>
            <H2> PAGALO EN PESOS, EN HASTA12 CUOTAS SIN INTERES CON SOLO UN 10%
                DE AUMENTO A LA CONVERSION DOLAR OFICIA- PESOS</H2>
        </div>
    </article>


    <article class="contenedor02">
        <h2> SOY EL
            CONTENEDOR 2</h2>
        <p> CSS (Hojas de Estilo en Cascada) es el código que usas para dar estilo a tu página web. CSS Básico te lleva
            a través de lo que tú necesitas para empezar. Contestará a preguntas del tipo: ¿Cómo hago mi texto rojo o
            negro? ¿Cómo hago que mi contenido se muestre en tal y tal lugar de la pantalla?
            ¿Cómo decoro mi página web con imágenes de fondo y colores? </p>
        <p>HTML (Lenguaje de Marcas de Hipertexto, del inglés HyperText Markup Language) es el
            componente más básico de la Web. Define el significado y la estructura del contenido web. Además de HTML,
            generalmente se utilizan otras tecnologías para describir la apariencia/presentación de una página web (CSS)
            o la funcionalidad/comportamiento (JavaScript).
            "Hipertexto" hace referencia a los enlaces que conectan páginas web entre sí, ya sea dentro de un único
            sitio web o entre sitios web. Los enlaces son un aspecto fundamental de la Web. Al subir contenido a
            Internet y vincularlo a las páginas creadas por otras personas, te conviertes en un participante activo en
            la «World Wide Web» (Red Informática Mundial).</p>

    </article>

</body>

</html>