<!DOCTYPE html>
<html lang=“en”>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="/css/detalle.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,500&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');</style>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/header') -%>


    <!--Main-->

    <div class="section-one">
        <div class="container-section-all">

            <div class="col-one">
                <img src="images/IPhone12Negro.png" class="iphone-img-one">
            </div>

            <div class="col-two">
                <h2>Titulo</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Deserunt similique fuga placeat magni nulla corrupti,
                voluptatem sed. Voluptate nihil consectetur iste! Nulla, reiciendis sed? Deserunt quas commodi praesentium pariatur ad.
                </p>
                <h2>Descripción</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Deserunt similique fuga placeat magni nulla corrupti,
                voluptatem sed. Voluptate nihil consectetur iste! Nulla, reiciendis sed? Deserunt quas commodi praesentium pariatur ad.
                </p>
                <h2>Precio</h2>
                <p class="text-center">$$$$$$$</p>
                <br>
                <div class="text-center">
                <a href="#" class="button">Agregar al carrito</a>
                </div>
            </div>

        </div>
    </div>
    <div class="section-two">
        <div class="container-section-all-two">

            <div class="col-one-two">
                <h2>Especificaciones Técnicas</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Deserunt similique fuga placeat magni nulla corrupti,
                voluptatem sed. Voluptate nihil consectetur iste! Nulla, reiciendis sed? Deserunt quas commodi praesentium pariatur ad.
                </p>
            </div>

            <div class="col-two-two">
                <H2>FICHA TÉCNICA DEL PRODUCTO</H2>
                <ul>
                    <li>Pantalla: 6.1”, 828 x 1792 pixels</li>
                    <li>Procesador: Apple A12 Bionic</li>
                    <li>RAM: 3GB</li>
                    <li>Almacenamiento: 64GB/128GB/256GB</li>
                    <li>Expansión: sin microSD</li>
                    <li>Cámara: 12 MP</li>
                    <li>Batería: 2942 mAh</li>
                    <li>OS: iOS 14</li>
                    <li>Peso: 194 g</li>
                    <li>Perfil: 8.3 mm</li>
                </ul>
            </div>

        </div>
    </div>



    <!-- Footer -->
    <%- include('./partials/footer') -%>
</body>

</html>