<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');</style>
</head>

<body>
    
    <header class="main-header">
            
        <div class="main-header-top">
            <img src="/images/logo_white_large.png" alt="LogoApple" class="logo">

            <h2 class="h2-header">
                <i class="fas fa-user"></i>
                <a href="#">Mi cuenta</a>
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
        
            <div class="links-navbar">
                <img src="/images/logo_white_large.png" alt="LogoApple" class="logo">
                <a href="#" class="iconHome"><i class="fas fa-home"></i></a>
                
                <ul class="left-navbar">
                    <li><a href="#">Nosotros </a></li>
                    <li><a href="#">Ayuda </a></li>
                    <li><a href="#">Productos </a></li>
                </ul>
                
            </div>
            
            <div class="buscador">
                
                <a href="#"><i class="fas fa-user"></i></a>
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-shopping-basket"></i></a>
                
            </div>
            
    
        </nav>

    </header>

    <!-- FIRST SECTION -->

    <div class="section-one">
        <div class="container-section-all">

            <div class="col-one">
                <img src="images/iphones.jpg" class="iphone-img-one">
            </div>

            <div class="col-two">
                <h1>Compra tu <span class="title-one">iPhone</span></h1>
                <p>Fotos de alta calidad, chip rápidos y gran autonomía son algunas de las cualidades de los Iphones más apreciadas pero hay mucho más.
                     ... Poseer un iPhone supone para el usuario tener una herramienta con la capacidad de convertirse en la extensión de uno mismo.</p>
            </div>

        </div>
    </div>

    <!-- TWO SECTION -->

    <div class="section-two">
        <div class="container-section-all">

            <div class="col-one">
                <div class="airpods-logo-center">
                <img src="images/AirpodsLogo.png" class="airpods-logo">
                </div>
                <h3 class="airpods-title"><span>Más magicos que nunca</span></h3>
                <p class="airpods-desc">Los AirPods te brindan una experiencia inalámbrica inigualable con un sonido de alta calidad, acceso a Siri activado por voz y un estuche de carga que te ofrece más de 24 horas de reproducción de audio</p>
            </div>

            <div class="col-two">
                    <img src="images/airpods.png" class="airpods-img-one">
            </div>

        </div>
    </div>


    <!-- THREE SECTION -->

    <div class="section-three">
        <h1>Fundas y protección</h1>
        <div class="container-section-three">
            <div class="col-one-funda">
                <img src="images/funda1.png">
            </div>
            <div class="col-two-funda">
                <img src="images/funda2.png">
            </div>
            <div class="col-three-funda">
                <img src="images/funda3.png">
            </div>
        </div>
    </div>

    <!--  SLIDER -->

    <div class="contenedor">
        <div class="slider-contenedor">
            <section class="contenido-slider">
                <div>
                    <h2>Airpods Pro</h2>
                    <h3>Los AirPods Pro fueron diseñados con Cancelación Activa de Ruido para brindarte un sonido inmersivo,
                        con el modo Transparencia para que puedas oír lo que sucede a tu alrededor y con un ajuste personalizado para que los lleves puestos todo el día con comodidad.
                    </h3>
                    <a href="#">Contactanos</a>
                </div>
                <img src="images/animacion1.png" alt="">

            </section>
            <section class="contenido-slider">
                <div>
                    <h2>Cargador de auto universal (USBC 18 W)</h2>
                    <h3>
                        El cargador para automóvil PowerJolt USB-C 18W PD utiliza las capacidades de carga de alta velocidad de sus dispositivos,
                        se encenderá de manera segura y rápida con hasta 18 W de potencia.</h3>
                    <a href="#">Contactanos</a>
                </div>
                <img src="images/animacion2.png" alt="">

            </section>
        <section class="contenido-slider">
            <div>
                <h2>iPhone 12</h2>
                <h3>Súper. Mega. Rápido.

                    El iPhone 12 tiene el chip A14 Bionic, el más rápido en un smartphone. Una pantalla OLED de borde a borde. Un nuevo frente de Ceramic Shield, cuatro veces más resistente a las caídas.
                    Además, ahora el modo Noche viene en todas las cámaras. El iPhone 12 lo tiene todo. Y está disponible en dos tamaños perfectos.</h3>
                <a href="#">Contactanos</a>
            </div>
            <img src="images/animacion3.png" alt="">

        </section>
        <section class="contenido-slider">
            <div>
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus quidem
                    sed. Quos cupiditate id delectus est.</h2>
                    <a href="#">Contactanos</a>
            
            
            </div>
            <img src="images/animacion1.png" alt="">

        </section>
    </div>
    </div>
    <script src="/js/main.js"></script>
    
    <!-- FOOTER  -->

    <footer>
       
        <div class="container-footer-all">
         
             <div class="container-body">
 
                 <div class="colum1">
                     <h1>Mas informacion de la compañia</h1>
 
                     <p>Nuestro principal objetivo es, a través de una pagina web, hacer posíble a Argentínos de todo el país, acceder de una manera sencilla a productos APPLE.
                        Marca que no tiene tiendas de ventas oficiales en nuestro país. Compra en dolares o pesos con una mínima tasa de interes, y en cuotas.
                        <!-- "Nunca fue tan facil conseguir un iphone como hasta ahora". -->
                        Orientado a adultos jovenes, interesados en la ultima tecnología de Celulares de la compañia Apple, que buscan la posibilidad de acceder a los mismos de una manera más facil, dinámica y accesible.
                        Incluimos venta de cargadores y auriculares.
                     </p>
                     <img src="/images/logo_white_large.png" class="logo-footer">
                 </div>
 
                 <div class="colum2">
 
                     <h1>Redes Sociales</h1>
 
                     <div class="row">
                         <img src="icon/facebook.png">
                         <label>Seguinos en Facebook</label>
                     </div>
                     <div class="row">
                         <img src="icon/twitter.png">
                         <label>Seguinos en Twitter</label>
                     </div>
                     <div class="row">
                         <img src="icon/instagram.png">
                         <label>Seguinos en Instagram</label>
                     </div>
 
 
                 </div>
 
                 <div class="colum3">
 
                     <h1>Informacion Contactos</h1>
 
                     <div class="row2">
                         <img src="icon/house.png">
                         <label>Argentina, Buenos Aires, Chascomús</label>
                     </div>
 
                     <div class="row2">
                         <img src="icon/smartphone.png">
                         <label>+54 11 59785017</label>
                     </div>
 
                     <div class="row2">
                         <img src="icon/contact.png">
                          <label>caggianomauricio@gmail.com</label>
                     </div>
 
                 </div>
 
             </div>
         
         </div>
         
         <div class="container-footer">
                <div class="footer">
                     <div class="copyright">
                         © 2021 Todos los Derechos Reservados | <a href="">iShop</a>
                     </div>
 
                     <div class="information">
                         <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                     </div>
                 </div>
 
             </div>
         
     </footer>
          
</body>
</html>