<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <title>¡Bienvenid@ a iShop!</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/header') -%>
        <img src="images/bannerrr.png" class="banner-first">
        <img src="images/banner-mobile3.png" class="banner-mobile">
        <!-- FIRST SECTION -->
        <div class="section-one">
            <div class="container-section-all">

                <div class="col-one">
                    <img src="images/iphones.jpg" class="iphone-img-one">
                </div>

                <div class="col-two">
                    <h1>Compra tu <span class="title-one">iPhone</span></h1>
                    <p>Fotos de alta calidad, chip rápidos y gran autonomía son algunas de las cualidades de los Iphones
                        más apreciadas pero hay mucho más.
                        ... Poseer un iPhone supone para el usuario tener una herramienta con la capacidad de
                        convertirse en la extensión de uno mismo.</p>
                </div>

            </div>
        </div>

        <!-- TWO SECTION -->
        <div class="section-two">
            <div class="container-section-all">

                <div class="col-one">
                    <div class="airpods-logo-center">
                        <img src="images/AirpodsLogo.png" class="airpods-logo">
                    </div>
                    <h3 class="airpods-title"><span>Más magicos que nunca</span></h3>
                    <p class="airpods-desc">Los AirPods te brindan una experiencia inalámbrica inigualable con un sonido
                        de alta calidad, acceso a Siri activado por voz y un estuche de carga que te ofrece más de 24
                        horas de reproducción de audio</p>
                </div>

                <div class="col-two">
                    <img src="images/airpods.png" class="airpods-img-one">
                </div>

            </div>
        </div>


        <!-- THREE SECTION -->
        <div class="section-three">
            <h1>Fundas y protección</h1>
            <div class="container-section-three">
                <div class="col-one-funda">
                    <img src="images/funda1.png">
                </div>
                <div class="col-two-funda">
                    <img src="images/funda2.png">
                </div>
                <div class="col-three-funda">
                    <img src="images/funda3.png">
                </div>
            </div>
        </div>

        <!--  SLIDER -->

        <div class="contenedor">
            <div class="slider-contenedor">
                <section class="contenido-slider">
                    <div>
                        <h2>Airpods Pro</h2>
                        <h3>Los AirPods Pro fueron diseñados con Cancelación Activa de Ruido para brindarte un sonido
                            inmersivo,
                            con el modo Transparencia para que puedas oír lo que sucede a tu alrededor y con un ajuste
                            personalizado para que los lleves puestos todo el día con comodidad.
                        </h3>
                        <a href="#">Contactanos</a>
                    </div>
                    <img src="images/animacion1.png" alt="">

                </section>
                <section class="contenido-slider">
                    <div>
                        <h2>Cargador de auto universal (USBC 18 W)</h2>
                        <h3>
                            El cargador para automóvil PowerJolt USB-C 18W PD utiliza las capacidades de carga de alta
                            velocidad de sus dispositivos,
                            se encenderá de manera segura y rápida con hasta 18 W de potencia.</h3>
                        <a href="#">Contactanos</a>
                    </div>
                    <img src="images/animacion2.png" alt="">

                </section>
                <section class="contenido-slider">
                    <div>
                        <h2>iPhone 12</h2>
                        <h3>Súper. Mega. Rápido.

                            El iPhone 12 tiene el chip A14 Bionic, el más rápido en un smartphone. Una pantalla OLED de
                            borde a borde. Un nuevo frente de Ceramic Shield, cuatro veces más resistente a las caídas.
                            Además, ahora el modo Noche viene en todas las cámaras. El iPhone 12 lo tiene todo. Y está
                            disponible en dos tamaños perfectos.</h3>
                        <a href="#">Contactanos</a>
                    </div>
                    <img src="images/animacion3.png" alt="">

                </section>
                <section class="contenido-slider">
                    <div>
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa ipsam aliquam natus
                            quidem
                            sed. Quos cupiditate id delectus est.</h2>
                        <a href="#">Contactanos</a>


                    </div>
                    <img src="images/animacion1.png" alt="">

                </section>
            </div>
        </div>
        <script src="/js/main.js"></script>

        <!-- Footer -->
        <%- include('./partials/footer') -%>

</body>

</html>