<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');</style>
</head>

<body>
    
    <header class="main-header">
            
        <div class="main-header-top">
            <img src="/images/logo_white_large.png" alt="LogoApple" class="logo">

            <h2 class="h2-header">
                <i class="fas fa-user"></i>
                <a href="#">Mi cuenta</a>
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar">
        
            <div class="links-navbar">
                <img src="/img/logo_white_large.png" alt="LogoApple" class="logo">
                <a href="#" class="iconHome"><i class="fas fa-home"></i></a>
                
                <ul class="left-navbar">
                    <li><a href="#">Nosotros </a></li>
                    <li><a href="#">Ayuda </a></li>
                    <li><a href="#">Productos </a></li>
                </ul>
                
            </div>
            
            <div class="buscador">
                
                <a href="#"><i class="fas fa-user"></i></a>
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-shopping-basket"></i></a>
                
            </div>
            
    
        </nav>
 
</header>

</body>

</html>