<!DOCTYPE html>

<html lang="es" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>¡Inicia Sesión en iShop!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="css/estiloLoginRegistro.css">
    </head>


    <body>

    <header class="main-header">
        <div class="logoWrapper">
            <div class="logoContainer">
                <a href="/home"><img src="/images/logo_white_large.png" alt="LogoApple" class="logo"></a>
            </div>
        </div>
    </header>

    <!--Main-->
        <form id="form1" action="" method="post">
            <section class="form-login">
                <h5>Inicio de Sesión</h5>
                <input type="text" name="usuario" value="" placeholder="Usuario">
                <input type="password" name="contrasena" value="" placeholder="Contraseña">
                <input type="button" value="Ingresar">
                <input type="button" id="button" value="Registrarse">
            </section>
        </form>

        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                <h3>Registro</h3>
                <h4>Registra tu usuario en nuestro e-commerce.</h4>
                <form action="registro.php" method="POST">
                    <div class="contenedor-inputs">
                        <input type="text" name="txtNombre" placeholder="Nombre Completo">
                        <input type="text" name="txtUsuario" placeholder="Nombre de Usuario">
                        <input type="password" name="txtContraseña" placeholder="Contraseña">
                        <input type="text" name="txtCorreo" placeholder="Correo Electronico">
                    </div>
                    <input type="submit" class="btn-submit" value="Enviar Registro">
                </form>
            </div>
        </div>

        <script src="/js/popup.js"></script>

    </body>




</html>



