<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');</style>
</head>
<body>
    

    <header class="main-header">
            
        <div class="main-header-top">
            <img src="/images/logo_white_large.png" alt="LogoApple" class="logo">

            <h2 class="h2-header">
                <i class="fas fa-user"></i>
                <a href="#">Mi cuenta</a>
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
        </a>
        
        <nav class="main-navbar" id="menu">
        
            <div class="links-navbar">
                <img src="/images/logo_white_large.png" alt="LogoApple" class="logo">
                <a href="#" class="iconHome"><i class="fas fa-home"></i></a>
                
                <ul class="left-navbar">
                    <li><a href="#">Nosotros </a></li>
                    <li><a href="#">Ayuda </a></li>
                    <li class="menu-des"><a href="#">Productos <i class="fas fa-angle-down iconAngle"></i></a>
                        <ul class="submenu">
                            <li><a href="/iphones" class="submenu-A">iPhones</a></li>
                            <li><a href="/auriculares" class="submenu-A">Auriculares</a></li>
                            <li><a href="/fundas" class="submenu-A">Fundas</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            
            <div class="buscador">
                
                <a href="#"><i class="fas fa-user"></i></a>
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-shopping-basket"></i></a>
                
            </div>
            
    
        </nav>
 
    </header>

    <div class="banner-promo">
        <p class="bold">Bienvenidos</p><p class="banner-text"> a iShop STORE</p>
    </div>
    <p class="ubication"><a href="/home">Inicio</a> Productos / iPhone</p>
    <div class="title-subtitle">
        <h1>iPhone 12</h1>
    </div>


    <!-- SECTION PRODUCTS -->
    <div class="section-products">

        <div class="container-products">

            <div class="product"> 
                <div class="img-contenedor">
                <img src="images/iphone12miniazul.png" alt="">
                </div>
                <h1>iPhone 12 mini</h1>
                <p class="description">
                    El chip A14 Bionic es el más rápido en un smartphone.
                    Y supera los lí­mites de todo lo que era posible hacer hasta ahora.
                    Como procesar billones de operaciones en el Neural Engine.
                </p>
                <div class="product-center">
                <a class="button-product" href="#">Ver más
                    <i class="fas fa-arrow-right iconRight"></i>
                </a>
                </div>
            </div>

            <div class="product">
                <div class="img-contenedor">
                    <img src="images/iPhone12negro.png" alt="">
                </div>
                <h1>iPhone 12</h1>
                <p class="description">
                    El iPhone 12 tiene el chip A14 Bionic, el más rápido en un smartphone.
                     Una pantalla OLED de borde a borde.
                      Un nuevo frente de Ceramic Shield, cuatro veces más resistente a las caídas.
                </p>
                <div class="product-center">
                    <a class="button-product" href="#">Ver más
                        <i class="fas fa-arrow-right iconRight"></i>
                    </a>
                </div>
            </div>

            <div class="product">
                <div class="img-contenedor">
                    <img src="images/iPhone12progrfito.png" alt="">
                </div>
                <h1>iPhone 12 PRO</h1>
                <p class="description">
                    El Chip A14 Bionic, el más rápido en un smartphone.
                    Y un sistema de cámaras Pro para tomar fotos increíbles con poca luz,
                    que alcanza su máxima expresión en el iPhone 12 Pro Max.
                </p>
                <div class="product-center">
                    <a class="button-product" href="#">Ver más
                        <i class="fas fa-arrow-right iconRight"></i>
                    </a>
                </div>
            </div>

            <div class="product">
                <div class="img-contenedor">
                    <img src="images/XrBlack.png" alt="">
                </div>
                <h1>iPhone XR</h1>
                <p class="description">
                    El iPhone XR tiene el LCD más avanzado en un smartphone:
                    una pantalla Liquid Retina de 6,1 pulgadas con la mayor precisión de color de la industria y un innovador diseño retroiluminado
                    que lleva esta increíble pantalla hasta las esquinas
                </p>
                <div class="product-center">
                    <a class="button-product" href="#">Ver más
                        <i class="fas fa-arrow-right iconRight"></i>
                    </a>
                </div>
            </div>
            <div class="product">
                <div class="img-contenedor">
                    <img src="images/iPhone12ProMaxFam.png" alt="">
                </div>
                <h1>iPhone 12 ProMax</h1>
                <p class="description">
                    Un salto al siguiente nivel. El chip A14 Bionic es muy superior a cualquier otro chip de smartphone.
                    El sistema de cámaras Pro te permite tomar fotos espectaculares con poca luz, y el iPhone 12 Pro Max lleva tu talento fotográfico mucho más allá. 
                </p>
                <div class="product-center">
                    <a class="button-product" href="#">Ver más
                        <i class="fas fa-arrow-right iconRight"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>











    <br><br>
    <!-- FOOTER -->
    <footer>
       
        <div class="container-footer-all">
         
             <div class="container-body">
 
                 <div class="colum1">
                     <h1>Mas informacion de la compañia</h1>
 
                     <p>Nuestro principal objetivo es, a través de una pagina web, hacer posíble a Argentínos de todo el país, acceder de una manera sencilla a productos APPLE.
                        Marca que no tiene tiendas de ventas oficiales en nuestro país. Compra en dolares o pesos con una mínima tasa de interes, y en cuotas.
                        <!-- "Nunca fue tan facil conseguir un iphone como hasta ahora". -->
                        Orientado a adultos jovenes, interesados en la ultima tecnología de Celulares de la compañia Apple, que buscan la posibilidad de acceder a los mismos de una manera más facil, dinámica y accesible.
                        Incluimos venta de cargadores y auriculares.
                     </p>
                     <div class="footer-logo-box">
                     <img src="/images/logo_white_large.png" class="logo-footer">
                    </div>
                 </div>
 
                 <div class="colum2">
 
                     <h1>Redes Sociales</h1>
 
                     <div class="row">
                         <img src="icon/facebook.png">
                         <label>Seguinos en Facebook</label>
                     </div>
                     <div class="row">
                         <img src="icon/twitter.png">
                         <label>Seguinos en Twitter</label>
                     </div>
                     <div class="row">
                         <img src="icon/instagram.png">
                         <label>Seguinos en Instagram</label>
                     </div>
 
 
                 </div>
 
                 <div class="colum3">
 
                     <h1>Informacion Contactos</h1>
 
                     <div class="row2">
                         <img src="icon/house.png">
                         <label>Argentina, Buenos Aires, Chascomús</label>
                     </div>
 
                     <div class="row2">
                         <img src="icon/smartphone.png">
                         <label>+54 11 59785017</label>
                     </div>
 
                     <div class="row2">
                         <img src="icon/contact.png">
                          <label>caggianomauricio@gmail.com</label>
                     </div>
 
                 </div>
 
             </div>
         
         </div>
         
         <div class="container-footer">
                <div class="footer">
                     <div class="copyright">
                         © 2021 Todos los Derechos Reservados | <a href="">iShop</a>
                     </div>
 
                     <div class="information">
                         <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                     </div>
                 </div>
 
             </div>
         
     </footer>

</body>
</html>