<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auriculares</title>
    <link rel="stylesheet" href="/css/tienda.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
    </style>
</head>

<body>
    <!-- Header -->
    <%- include('./partials/header') -%>

    <div class="banner-promo">
        <p class="bold">Bienvenidos</p>
        <p class="banner-text"> a iShop STORE</p>
    </div>
    <p class="ubication"><a href="/home">Inicio</a> / Productos / Auriculares</p>
    <div class="title-subtitle">
        <h1>Auriculares</h1>
    </div>


    <!-- SECTION PRODUCTS -->
    <div class="section-products">

        <div class="container-products">

            <div class="product">
                <div class="img-contenedor">
                    <img src="images/auricularesAirPodsCaja.png" alt="">
                </div>
                <h1>AirPods Caja</h1>
                <p class="description">
                    Los nuevos AirPods te brindan una experiencia inalámbrica nueva.
                    Sólo sácalos del estuche de carga y estarán listos para que los uses con tu iPhone, Apple Watch,
                    iPad o Mac.
                </p>
                <div class="product-center">
                    <a class="button-product" href="/detalle">Ver más
                        <i class="fas fa-arrow-right iconRight"></i>
                    </a>
                </div>
            </div>

            <div class="product">
                <div class="img-contenedor">
                    <img src="images/auricularesAirPods.png" alt="">
                </div>
                <h1>AirPods Pro</h1>
                <p class="description">
                    Los AirPods Pro fueron diseñados con Cancelación Activa de Ruido
                    para brindarte un sonido inmersivo, con el modo Transparencia para que puedas oír lo que sucede a tu
                    alrededor.
                </p>
                <div class="product-center">
                    <a class="button-product" href="/detalle">Ver más
                        <i class="fas fa-arrow-right iconRight"></i>
                    </a>
                </div>
            </div>

            <div class="product">
                <div class="img-contenedor">
                    <img src="images/auricularesEarpods.jpg" alt="">
                </div>
                <h1>EarPods</h1>
                <p class="description">
                    A diferencia de los audífonos circulares tradicionales,
                    el diseño de los EarPods está definido por la geometría del oído.
                    Esto los hace más cómodos de usar que cualquier otro audífono similar.
                </p>
                <div class="product-center">
                    <a class="button-product" href="/detalle">Ver más
                        <i class="fas fa-arrow-right iconRight"></i>
                    </a>
                </div>
            </div>


        </div>
    </div>











    <br><br>

      <!-- Footer -->
      <%- include('./partials/footer') -%>

</body>

</html>