* {
    box-sizing: border-box;
}

/*body*/

body {
    background-color: white;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

/*Carrito seccion 1*/

.Seccion1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Titulo{
    font-size: 20px;
    margin-left: 10px;
}

.fa-angle-double-left{
    font-size: 25px;    
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

/*La caja de productos o seccion 2*/

.Seccion2{
    margin: 0 5%;
}

.Producto{
    border: 1px rgb(233, 232, 232) solid; 
    margin: 5px 4%;
    display: flex;
    align-items: center;
}

.Producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.NombreDeProducto{
    visibility: hidden;
}

.ImagenProducto{
    width: 100px;
    height: 120px;
    margin: 5px;
}

.cantidad-button{
    text-align: center;
    max-width: 30px;
}

.boton-quitar{
    font-size: 15px;
    border-radius:5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.678); 
    color: orange;
    transition: color 1s;
}   

.boton-quitar:hover{
    background-color: white;
    color:rgb(236, 108, 108)
}

/*Elegir pago o seccion 3*/

.Seccion3{
    display: flex;
    justify-content: center;
}

.elegir-Pago{
    padding: 10px;
    color: white;
    border-radius: 10px;
    text-align: center; 
    width: 250px;
    height: 150px;
    margin: 5% 15% 0px;
    background-color: rgba(0, 0, 0, 0.801);
    line-height: 10px;
}

.descuento{
    font-size: 20px;
    color: orange;
}

.total{
    font-size: 25px;
}

/* botones o seccion 4*/

.botones{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.padreBotonP{
    margin: 2% 5% 2%;
    
}

.boton-Pagar{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 25px;
    border: 2px solid #6baf6e;
    border-radius: 8px;
    background: #7fbf75;
    background: -webkit-gradient(linear, left top, left bottom, from(#7fbf75), to(#4dab4d));
    background: -moz-linear-gradient(top, #7fbf75, #4dab4d);
    background: linear-gradient(to bottom, #7fbf75, #4dab4d);
    text-shadow: #144216 1px 1px 1px;
    font: normal normal bold 18px arial;
    color: #fafafa;
    text-decoration: none;
}

.boton-Pagar:hover,
.boton-Pagar:focus {
    background: #98e58c;
    background: -webkit-gradient(linear, left top, left bottom, from(#98e58c), to(#5ccd5c));
    background: -moz-linear-gradient(top, #98e58c, #5ccd5c);
    background: linear-gradient(to bottom, #98e58c, #5ccd5c);
    color: #fafafa;
    text-decoration: none;
}

.boton-Pagar:active {
    background: #4c7346;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c7346), to(#4dab4d));
    background: -moz-linear-gradient(top, #4c7346, #4dab4d);
    background: linear-gradient(to bottom, #4c7346, #4dab4d);
}

.boton-Pagar:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA1klEQVRIib2VUQ6DIAyGP5jH8QzL9r6nxfssmnggk11gd/A6w72UpDIRMmF/0rQW/H9oEQ1gqQhP7iLjrkQc7sCWjvcEDsMI4Rm4liTWsEAPLDUsLIfJtFNGPAA0wAO4iEB/uB4bPDVK40W+SlQcTcYcBzyBGWiBG+mjvBrf2+obuMsL3jrJZ5UoJTBtrNZKvkgPZkXqTedjiF4TIVrxLvDtxlyN1eWZ6kGnFlK8B15kAkbxKfJFyF/AYpRiFeR8B7/AaIGhgoCNPvCHP1pR6B5UE6paog+6kYulsKd/EwAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}


.padreBotonV{
    margin: 1% 5% 2%;
}

.boton-vaciar {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 27px 12px ;
    border: 2px solid #ed1520;
    border-radius: 8px;
    background: #ff828a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff828a), to(#962e34));
    background: -moz-linear-gradient(top, #ff828a, #962e34);
    background: linear-gradient(to bottom, #ff828a, #962e34);
    text-shadow: #601418 6px 1px 4px;
    font: normal normal bold 18px arial;
    color: #ffffff;
    text-decoration: none;  
}

.boton-vaciar:hover,
.boton-vaciar:focus {
    border: 2px solid #ff2233;
    background: #ff9ca6;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9ca6), to(#b4373e));
    background: -moz-linear-gradient(top, #ff9ca6, #b4373e);
    background: linear-gradient(to bottom, #ff9ca6, #b4373e);
    color: #ffffff;
    text-decoration: none;
}

.boton-vaciar:active {
    background: #994e53;
    background: -webkit-gradient(linear, left top, left bottom, from(#994e53), to(#962e34));
    background: -moz-linear-gradient(top, #994e53, #962e34);
    background: linear-gradient(to bottom, #994e53, #962e34);
}

.boton-vaciar:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -1px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACNElEQVRIie2VsWsUURDGf99yXJGMFuE4CMgVV1ikFBERLCJamsZGELGwso1iFYtg7R8g9mKjf4EYEQSRCFdJCitJEU6wuH0cRwxvLHwb3u3tXQI2Fg4sO7PzZr553755I6DgBDEzgB5wHVgB9iS9LctyclKsEkCcAxTNrAVsA48ktQHcHeA7cC+E8D6LjXU9B6gktwsz2wa2JOHuEZhIWkogAbgaQhg0xQJxIT1m1gcep+Rv3H01xnjG3W8AQ0kGPDOzvGrqejHvMbNNM3Mz+2FmZ2u+28n3y8y683JoeXm5kLQFrAOFpOMS3L0PnANGwKDmawOX0+52JY0z3xHwIoTwSmZ2AfgCkBZTJZqnn0bcfQSsFsB+4nNmUf4tB6rei3RJ34BDJT47wBpwU9Kmu0+A+8DhqUuGu5I2gH13vwMMQgijFkAIYQgMzex8Qt8vy/Klma0BXUkHZVnumdkVoC1pL8Y4knQp7e6Tu3eADWAcQvhA6ofqeBVMN1rVME8k7QAPk/0a2AGuSeoBO8m/wmwvART5+Y013vOAGak4nyNV7Gyj1QMzewqw/tMbYiNAK/tQ5IEn2e5OUUzXV187pdQrbLCnqqx6Zo78PUVN6/9T9G9SlAMcV+juK2lUPgWeAwfJdQto82cmj4D1dLX8BLq1XAUQc4B8mx3gI/C1uqbT4G/8B+7+QNJG7UpvpOgzMJa0BFxMT337TZTkoO9yimaGvpn1gP6i4bJgKE2A3RDCUZX3N86ROkuACJZgAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}

/* mediaQ*/

/* A partir de 768px, resolución tablet */ 

@media (min-width: 768px) {
    .Titulo{
        font-size: 40px;
        margin:2% 5% 1%
}
.fa-angle-double-left{
    margin-right: 50px;
    font-size: 35px;
}
    .Seccion2 {
        margin: 5px 12%;
}
    .InfoProducto{
        width: 550px;   
        height: 240px;
}
    .ImagenProducto{
        width: 200px;
        height: 220px;
}
    .boton-quitar{
        font-size: 30px;
}
    .precio{
        font-size: 30px;
}
    .cantidad-button{
        font-size: 20px;
        max-width: 40px;
        border: solid 1px black;
        border-radius:5px ;
}
    .elegir-Pago{
        width: 375px;
        height:150px;
        margin: 3% 27% 0px;
        font-size: 20px;
}   
    .descuento{
        font-size: 28px;
}
    .total{
        font-size: 30px;
}
}




/* A partir de 1200px, resolución desktop */

@media (min-width: 1200px) {  
    .fa-angle-double-left{
    font-size: 40px;
    margin-right: 70px;
}
    .InfoProducto{
    width: 800px;
    height: 250px;
}

    .NombreDeProducto{
    visibility: visible;
}
.boton-quitar{
    align-self: flex-end;
}
.cantidad-button{
    align-self: flex-end;
    margin: 5px;
}

.elegir-Pago{
    width: 550px;
    height:150px;
    margin: 3% 25% 0px;
    font-size: 22px;
}   

.boton-Pagar{
    font-size: 33px;
    cursor: pointer;
}

.fa-hand-point-right{
    visibility: visible;
}

.boton-vaciar{
    cursor: pointer;
    font-size: 33px;
}

}