* {
    box-sizing: border-box;
}

/*body*/

body {
    background-color: white;
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

/*Carrito seccion 1*/

.Seccion1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Titulo{
    font-size: 20px;
    margin-left: 10px;
}

.fa-angle-double-left{
    font-size: 25px;    
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

/*La caja de productos o seccion 2*/

.Seccion2{
    margin: 0 5%;
}

.Producto{
    margin: 5px 4%;
    border: 3px solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nameProduct {
    font-size: 24px;
    font-weight: bold;
}

.priceProduct {
    text-transform: uppercase;
    color: green;
    font-size: 15px;
    padding: 10px;
    border: 1px solid;
    font-weight: 600;
}

.trash {
    width: 35px;
    color: orange;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 50%;
    text-align: center;
}
.Producto img {
    width: 300px;
}

.Producto:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.NombreDeProducto{
    visibility: hidden;
}

.ImagenProducto{
    width: 100px;
    height: 120px;
    margin: 5px;
}

.cantidad-button{
    text-align: center;
    max-width: 30px;
}

.boton-quitar{
    font-size: 15px;
    border-radius:5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.678); 
    color: orange;
    transition: color 1s;
}   

.boton-quitar:hover{
    background-color: white;
    color:rgb(236, 108, 108)
}

.total{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.line {
    text-decoration: underline;
}
/* seccion 3*/

.botones{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    margin: 2% 5% 2%;
}

.boton-pagar{
    display:inline-block;
    text-align: center;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 15px;
    background : rgb(53, 53, 53);
    color: white;
    border: black 1px solid;
    transition-property: background-color,color;
    transition-duration: 0.2s;
}
.boton-pagar:hover{
    background-color:white;   
    color: black;
}

.padreBotonV{
    margin: 2% 5% 2%;
}


/*PopUp*/

.overlay{
    background:rgba(0, 0, 0, .2) ;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
}

.popup{
    background: #f1f1f1;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 3px;
    padding: 20px;
    transition: .4s ease all;
    transform: scale(0.7);
    opacity: 0;
}
.cerrar-popup{
    font-size: 30px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
}
.cerrar-popup:hover{
    color: black;
}

.in-popUp{
    text-align: center;
}

.in-popUp h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.in-popUp h2{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
}

.descuentoParte2{
    color: rgb(252, 182, 54) ;
    font-weight: bold;
    font-size: 30px;
}

.Pago{
    border-radius: 5px;
    background-color:#dddcdc;
}

.Pago p{
    font-size: 20px;
    margin:2px;
}

.finalizar{
    display:inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 15px;
    background : rgb(53, 53, 53);
    color: white;
    border: black 1px solid;
    transition-property: background-color,color;
    transition-duration: 0.2s;
}

.finalizar:hover{
    background-color:white;   
    color: black;
}

/*.finalizar{
    margin-top:10px;
    font-size: 30px;
    color: white;
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
    transition: .3s ease all; 
}

.finalizar:hover{
    color: black;
    background-color:white;
}*/

/*Animaciones popUp*/

.popup.active{
    opacity: 1;
    transform: scale(1);
}


/* mediaQ*/

/* A partir de 768px, resolución tablet */ 

@media (min-width: 768px) {
    .Titulo{
        font-size: 40px;
        margin:2% 5% 1%
}
    .fa-angle-double-left{
    margin-right: 50px;
    font-size: 35px;
}
    .Seccion2 {
        margin: 5px 12%;
}
    .InfoProducto{
        width: 550px;   
        height: 240px;
}
    .ImagenProducto{
        width: 200px;
        height: 220px;
}
    .boton-quitar{
        font-size: 30px;
}
    .precio{
        font-size: 30px;
}
    .cantidad-button{
        font-size: 20px;
        max-width: 40px;
        border: solid 1px black;
        border-radius:5px ;
}
    .elegir-Pago{
        width: 375px;
        height:150px;
        margin: 3% 27% 0px;
        font-size: 20px;
}   
    .descuento{
        font-size: 28px;
}
    .total{
        font-size: 30px;
}

    .boton-pagar{
    font-size: 20px;
        
}
    .boton-vaciar{
        font-size: 20px;
}
}




/* A partir de 1200px, resolución desktop */

@media (min-width: 1200px) {  
    .fa-angle-double-left{
    font-size: 40px;
    margin-right: 70px;
}
    .InfoProducto{
    width: 800px;
    height: 250px;
}

    .NombreDeProducto{
    visibility: visible;
}

.elegir-Pago{
    width: 550px;
    height:150px;
    margin: 3% 25% 0px;
    font-size: 22px;
}   

.boton-pagar{
    font-size: 30px;
    cursor: pointer;
}

.fa-hand-point-right{
    visibility: visible;
}
}