* {
  box-sizing: border-box;
}

/*Header/footer*/

.main-header {
  background: rgba(0, 0, 0, 0.85);
  padding: 18px;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.logo {
  width: 150px;
  margin-left: 90px;
}

.iconAngle {
  margin-left: 3px;
  font-size: 15px;
}

.h2-header {
  text-align: center;
  font-size: 20px;
}

.h2-header a {
  text-decoration: none;
  color: white;
}

.submenu {
  margin-left: 3px;
  padding: 5px 10px;
}

.hamburger-button {
  background-color:cadetblue;
  color: white;
  display: block;
  max-width: 40px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  margin: auto;
}

/* .main-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
} */

.left-navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
  font-weight: bold;
}

.main-navbar {
  display: none;
}

.banner {
  width: 50%;
}
.submenu li {
  color: white;
  font-weight: 600;
}
nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}
nav li:hover > ul {
  display: block;
}

nav li ul li {
  background: #434343;
  list-style: none;
  padding: 6px 12px;
}

.submenu a {
  font-size: 16px!important;
}

/* FOOTER */


footer{
  width: 100%;
  background: #202020;
  color: white;   
  
}

.footer-logo-box {
  text-align:center;
}
.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 24px;
}

.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
  font-family: -webkit-pictograph;
}

.colum2{
  max-width: 400px;
  
}

.colum2 h1{
  font-size: 24px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img {
  width: 36px;
  height: 36px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
  font-family: -webkit-pictograph;
}

.colum3 {
  max-width: 400px;
  margin-right: 15px;
}

.colum3 h1{
  font-size: 24px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  font-family: -webkit-pictograph;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
  font-weight: bold;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
  font-family: initial;
  opacity: 0.8;
}
.information {
  margin-left: 12px;
}

.logo-footer {
  margin-top: 55px;
  width: 50%;
}


@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  
  .colum1{
      max-width: 100%;
  }
  
  .colum2,
  .colum3{
      margin-top: 40px;
  }
}


/* END FOOTER */


/* A partir de 768px, resolución tablet */

@media (min-width: 768px) {
  .main-header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .logo {
      width: 200px;
      margin-left: 0;
  }
  .hamburger-button {
      display: none;
  }
  .h2-header {
      display: none;
  }
  .main-navbar {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      align-items: center;
  }
  /* .main-navbar ul {
      display: flex;
  } */
  .left-navbar {
      display: flex;
  }
  .main-navbar li {
      margin: 0 10px;
  }
  .buscador {
      display: flex;
      align-items: center;
      
  }
  .buscador a {
      margin-left: 15px;
      color: white;
      transition: color 0.5s;
  }
  .buscador a:hover {
      color: #45CFF1;
  }
  .links-navbar {
      display: flex;
  }
  .iconHome {
      margin-right: 15px;
  }
  .links-navbar img {
      display: none;
  }
  .iphone-img-one {
      width: 100%;
      margin-top: 30px;
  }
  .col-two {
      margin-left: 10px;
  }
  .container-section-all {
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;
  }
  .container-section-three {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
  }
  .airpods-img-one {
      width: 300px;
      margin-top: 70px;
  }
}

/* A partir de 1200px, resolución desktop */

@media (min-width: 1200px) {  
  .logo {
      width: 130px;
  }
  .main-header-top, .main-navbar{
      max-width: 1200px;
      margin: 0 auto;
  }
  .main-header-top {
      align-items: center;
  }
  

  .left-navbar {
      margin-left: 300px;
  }
  /* .main-navbar ul {
      margin-left: 300px;
  } */
  .main-navbar li {
      margin: 0 20px;
  }
  .main-navbar a {
      font-size: 19px;
  }
  
  .main-navbar .right-navbar {
      display: none;
  }
  .h2-header {
      display: none;
  }

  /* .left-navbar {
      margin-left: 100px;
  } */
  .left-navbar a {
      color: white;
      opacity: 0.7;
      transition: opacity 0.5s
  }

  .left-navbar a:hover {
      opacity: 1;
  }
  .main-header-top {
      display: none;
  }

  .links-navbar img {
      display: flex;
  }
  .links-navbar .iconHome {
      display: none;
  }
  .footer-logo-box {
      display: none;
  }
  .iphone-img-one {
      width: 100%;
      margin-top: 0;
  }
  .airpods-img-one {
      width: 90%;
      margin-left: 35px;
  }
}





/* body */

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  font-size: 80%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align:center;
  background-color: white;
  color: black;
  }


.caja1 {
  display: flex;
  flex-wrap: wrap;
}
.subcaja1{
  flex: 2;
}
.precio{
  flex: 1;
}
.caja2{
  display: flex;
  flex-wrap: wrap;
}
.subcaja2A{
  flex: 2;
}
.subcaja2B{
  flex: 1;
}

.titulos{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  
}

.title-modelo {
  font-size: 45px;
  color: black;
  border: 3px solid transparent;
  text-shadow: 4px 4px 5px rgb(0 0 0 / 100%);
  }

.title-color {
  margin-left: 15px;
  line-height: 120px;
  font-size: 32px;
  color: red;
  text-shadow: 3px 3px 4px rgb(0 0 0 / 100%);
}

.buttom-a {
  background-color: black;
  color: white;
  transition: color .5;
  font-size: 20px;
  font-family: 'Noto Serif', serif;
  text-align: right;
  cursor: pointer;

}

.buttom-a:hover {
  background-color: #4db97a;
}

.precio {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: white;
  padding: 20px;
  height: 350px;
  margin: 50px 25px;
  margin-left: 100px;
}

.precio h4 {
  font-size: 23px;
  background-color: #4CAF50;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  color: black;
}
.precio h3{
  font-family:revert;
  font-size: 29px;
  color: black;
}

.oferta {
  font-size: 18px;
  background-color: gray;
  color: black;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  padding: 20px;
}

.especificaciones-breves {
  font-size: 20px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: white;
  color: black;
  padding: 20px;
  width: 390px;
  margin: 0px 150px 20px;
  
}

.ficha-tecnica {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 20px;
  margin: 60px 15px 10px;
  height: 515px;
  text-align:justify;
  line-height : 30px;

}
.ficha-tecnica h2 {
  text-align: center;
  color: black;
}

.ficha-tecnica li {
  list-style:none
}

.subcaja2A {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  color: black;
  font-size: 15px;
  background-color: white;
  padding: 20px;
  margin: 60px 15px 0px;
  margin-bottom: 30px;
}

.subcaja2A h2{
  font-size: 35px;
}
.subcaja2A h3{
  font-size: 25px;
}

.subcaja2A h2, .subcaja2A h3 {
  color: black;
}

.imagenes{
  flex-wrap: wrap;
  display: flex;
  
}

.img-grande {
  flex: 2; 
  width:360px ;
  height:630px; 
}
.img-pequeñas{
  flex:1;
  
}

.img-frontal, .img-trasera{
  width: 150px;
  height: 210px;
}
.img-costado{
  width: 150px;   
  height: 210px;
}
/* media detalle producto */
@media (max-width: 767px) {
header {
  width: 800px;
}
footer {
  width: 800px;
  
}
.precio {
  min-width: 500px;
  flex-wrap: nowrap;
}
.subcaja2A {
  min-width: 500px;
  align-content: center;
}
.ficha-tecnica {
  min-width: 500px;
  align-content: center;
  margin-top: 5px;
} 

}


@media (min-width: 768px) {
  .ficha-tecnica {
   height: 650px;
  }
}

@media (min-width: 1200px) {
  .ficha-tecnica {
    height: 515px;
  }
}
/*


@media (max-width: 767px) {
  .informacion-detallada, .img-grande {
  visibility: hidden;
  }
  .imagen-principal-detalle {
    display: display-block;
    width: 300px;
    align-items: center;
    margin-left: 100px;
    }
  header, footer {
    width: 500px;
  }
  .titulo-foto {
  width: 500px;
  display: inline-block;
  }
  .title-modelo {
    font-size: 22px;
   position: absolute;
   top: 70%;
   left: 20%;
  }
  .title-color {
    position: absolute;
    top: 72%;
    font-size: 18px;
    left: 72%
  }
  .img-frontal {
  width: 110px;
  position: absolute;
  top: 118%;
  left: 50%
  }
  .img-costado {
  width: 100px;
  height: 205px;
  position: absolute;
  top: 118%;
  right: 60% 
  }
  .img-trasera {
  width: 110px;
  position: absolute;
  top: 118%;
  left: 80%
  }
  .especificaciones-breves {
    position: absolute;
    top: 90%;
    height: 90px;
    width: 350px;
    margin-left: 75px;
  }
  .precio {
  position: absolute;
  max-width: 300px;
  top: 165%;
  left: 20%
  }

   .ficha-tecnica {
     position: absolute;
     top: 225%;
     left: 62px;
  }
}









@media (min-width: 768px) {
.title-modelo {
  display: inline-block;
  top: 20%;
  margin-left: 20%;
  right: 36%;
 bottom: -343px;
 text-align: center;

}
.title-color {
font-size: 28px;
top: 218px;
right: 4%;

}

.especificaciones-breves {
  width: 50%;
  display: inline-block;
  position: absolute;
  right: 45%;
  bottom: -10%;
  margin-left: 500%;
  margin: 5 15%;
}
.ficha-tecnica {
  width: 50%;
  display: inline-block; 
  position: relative;
  left: 23% ;
  margin-left: 8%
}
.informacion-detallada {
  width: 50%;
  display: inline-block;
  position: relative;
  right: 28%;
  margin-top: -46.5%;
  margin-left: 8%;
}
.precio {
  width: 40%;
  padding: 15px;
  display: inline-block;
  margin-top: 22%;
  position:relative;
  left: 22%;
  top: -670px;
  }
.imagen-principal-detalle {
  display: inline-block;
  max-width: 400px;
  margin-top: -20%;
  

}
.imagenes-miniatura {
  display: flex;
  position: relative;
  width: 500px;
  height: 500px;
  flex-direction:column;
}
.img-costado, .img-trasera, .img-frontal {
  position: relative;
  width: 20%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  color: grey;
  margin: 15px;
  margin-left: 50px;
}

.img-frontal {
  margin-top: 60%;
}
  .img-costado {
  min-height: 190px;
}
.img-grande {
  display:inline-block;
  position: relative;
  margin-top: -300px;
  margin-left: 1%;
  left: 10%;
  width: 100px;
  height: 100px;
  }
  .ficha-tecnica li {
  position: relative;
  right: 12%;
  text-align: center;
  font-size: 18px;
  
  }
}



@media (min-width: 1200px) {
  .imagen-principal-detalle {
  max-width: 400px;
  }
  .especificaciones-breves {
  bottom: 25%;
  }
  .img-frontal {
  margin-top: 69%
  }
  .precio {
  top: -580px;
  }
  .informacion-detallada {
  top: 57px;
  top: -22px;
  font-size: 12px;
  height: 345px;
  }
  .img-frontal, .img-costado, 
  .img-trasera ,.img-grande {
  max-width: 200px;
  }
  
}
*/






