
*{
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}
.current {
    padding: 15px;
    text-align: center;
}
.current-edit {
    text-align: center;
    padding: 30px 30px 15px;
}
.color {
    color: #0000ff75;
}
.text-img-current {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.text-error {
    padding-bottom: 10px;
    color: red;
}

.img-current {
    width: 300px;
    margin: 0 auto;
}

body{
    font-family: "Roboto";
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

input[type="text"]{
    width: 100%;
    border-bottom: 3px solid #4796E6;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 11px 10px;
    background: lemonchiffon;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

input[type="number"]{
    width: 100%;
    border-bottom: 3px solid #4796E6;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 11px 10px;
    background: lemonchiffon;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

textarea{
    font-family: "Roboto";
    width: 100%;
    border-bottom: 3px solid #4796E6;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 11px 10px;
    background: lemonchiffon;
    font-size: 14px;
    font-weight: bold;
    color: black;
}


input[type="file"]{
    font-family: "Roboto";
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 16px;
    cursor: pointer;
    align-self: center;
    transition: .3s ease all;
}

.button-submit{
    background-color: #4796E6;
    color: white;
    width: 40vh;
    height: 40px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 16px;
    cursor: pointer;
    align-self: center;
    transition: .3s ease all;
}

.button-submit:hover {
    background-color: #00587a;
    cursor: pointer;
}