<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/productAdd.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');</style>
    <title>Sube tu producto</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') -%>


    <!-- Main -->
    <form id="formCRUD" action="/products/create" method="POST" class="container" enctype="multipart/form-data">
        <p>
            <input type="text" name="productName" required placeholder="Nombre del Producto">
        </p>

        <p>
            <input type="text" name="productPrice" required placeholder="Precio del Producto">
        </p>

        <p>
            <select name="productCategory" id="category" class="form-input" class="required"></select>>
                <option value="">Elegí una categoría</option>
                <option value="IPhones">iPhones</option>
                <option value="Auriculares">Airpods</option>
                <option value="Fundas y protección">Fundas</option>
            </select>
        </p>

        <p>
            <textarea rows="4" cols="50" name="productDescription" placeholder="Descripción del producto"></textarea>
        </p>
        
        <h4>Añade imágenes del producto:</h4>
        <input type="file" id="img" name="productImage" />
        <br>
        <button class="button-submit" type="submit"> Publicar Producto </button>
    </form>


    <!-- Footer -->
    <%- include('../partials/footer') -%>

    <script src="/js/CRUDValidation.js"></script>
</body>
</html>